<!-- Projects -->
<div id="projects">
    <div class="container">
        <h1 class="sub-title">My Projects</h1>
        <div class="projects-list">
            <div>
                <h2>Yelp-camp</h2>
                <p>• Technology used : <br>
                    o FronEnd - HTML, CSS, Bootstrap, JavaScript for responsive layout, AJAX, JSON <br>
                    o BackEnd - Node JS, NPM, Express JS, RESTful API, Passport.js, Mongoose <br>
                    o Database - MongoDB <br> 
                    <br>
                    Designed and implemented YelpCamp (a Yelp style website for campsites) that supports
                    user log in, posting review and comments, and editing previous submissions.
                    <a href="#">Learn more</a>
                </p>
            </div>
            <div>
                <h2>Score Keeper</h2>
                <p> Technology used : HTML , CSS , JavaScript , Bootstrap5. <br>
                    <br>
                    Basic Functionalities : Designed Score Keeper app using HTML,CSS and JavaScript that gives a
                    user the ability to keep track of the scores of two different teams playing a game of their
                    choice. <a href="#">Learn more</a>
                </p>
            </div>
            <div>
                <h2>Library Management</h2>
                <p> Technology used : HTML , CSS , MySQL , PHP. <br>
                    <br>
                    Basic Functionalities : A college library management is a project that manages and stores
                    books information
                    electronically according to students need. The system helps both students and library manager
                    to keep a constant track of all the books available in the library.
                </p>
                <a href="#">Learn more</a>
            </div>
        </div>
    </div>
</div>