
<!-- contact -->

 <div id="contact">
    <div class="container">
        <div class="row">
            <div class="contact-left">
                <h1 class="sub-title">Contact Me</h1>
                <p><i class="fa-solid fa-envelope"></i>akansh.dhyani@tarento.com</p>
                <p><i class="fa-solid fa-phone"></i>+91 8800864387</p>
                <div class="social-icons">
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>

                </div>
                <a href="../../assets/Images/cv.pdf " class="btn btn2">Download CV</a>

            </div>


        </div>
    </div>
</div>



