
<!--   Interests    -->

 <div id="interest">
    <div class="container">
        <h1 class="sub-title">My Interests</h1>
        <div class="interest-list">
            <div class="hobby">
                <img src="../assets/Images/lumensoft-technologies-vz7YUf7Zv14-unsplash.jpg" alt="cricket">
                <div class="layer">
                    <h3>Playing Cricket</h3>
                    <p>Played cricket at junior level in Delhi region</p>
                </div>
            </div>
            <div class="hobby">
                <img src="../../assets/Images/etienne-girardet-xcqvnppPxI4-unsplash.jpg" alt="volleyball">
                <div class="layer">
                    <h3>Playing volleyball</h3>
                    <p>Played volleyball at University level in Delhi University</p>
                </div>
            </div>
            <div class="hobby">
                <img src="../assets/Images/aaron-burden-4eWwSxaDhe4-unsplash.jpg" alt="reading">
                <div class="layer">
                    <h3>Reading</h3>
                    <p>Love to read about International Relations, History and Polity</p>
                </div>
            </div>
        </div>
    </div>
    <!-- <div>
        <a href="#" class="btn">See more</a>
    </div> -->
</div>

